# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Docker
*.dockerignore
docker-compose.override.yml

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.so
*.egg
*.egg-info
dist/
build/